
.header {
    background-color: #ee6e73;
    color: bisque;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.33);
}
.header h1 {
    padding: 20px;
    font-weight: 300;
    font-size: 25px;
}
.buttons {
    display: flex;
    padding-right: 30px;
}
.buttons h2 {
    margin-left: 20px;
    cursor: pointer;
}
.buttons h2:hover {
    color: rgb(252, 200, 136);
}

.grid {
    font-weight: 400;
}