
.wraper {
    width: 1200px;
    margin: auto;
    margin-bottom: 30px;
}
.wraper>p {
    text-align: right;
    color: gray;
    font-size: 15px;
    margin-right: 5px;
}
.src {
    width: 80%;
    display: block;
    margin: 40px auto;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
}

.users {
    width: 100%;
    border: 1px solid rgb(211, 211, 211);

}

.users-grid {
    display: flex;
    flex-wrap: wrap;
    border: none;

}