

.card {
    display: flex;
    border-bottom: 1px solid rgb(168, 168, 168);
}

.card img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 10px;
    
}
.char-info {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.female {
    background-color: #ffebee;
}